.beauty{
    display: flex;
    flex-direction: column;
    gap: 13rem;
    margin-bottom: 13rem;
}
.box{
    display: flex;
    gap: 3.2rem;
    align-items: center;
}
.boxInfo{
    width: 51%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}
.boxInfo > h2{
    margin-right: 12rem;
} 
.boxInfo > button{
    margin-top: 2rem;
}
.boxImg{
    width: 49%; 
}
.boxImg > img{
    width: 100%;
    height: 100%;
}
.boxInfo > h3{
    font-weight: 500;
    font-size: 3rem;
    line-height: 4rem;
    color: var(--h3-color);
}
.stars{
    display: flex;
    align-items: center;
    gap: 1.4rem;
}
.girlName{
    display: flex;
    flex-direction: column;
}
.girlName > span{
    font-weight: 500;
    font-size: 3rem;
    line-height: 4rem;
    color: var(--h3-color);
}
.girlName > p{
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4;
    color: var(--primary-color);
}
.girlIcon{
    display: flex;
    gap: 2rem;
}
.girlIcon > span{
    padding: 0.8rem;
    border: 1px solid #6FB58726;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.girlIcon > span:last-child{
    border: 1px solid #6FB587;
}

/**** Media ***/

@media only screen and (max-width: 992px){
    .boxInfo > h2{
        margin-right: 10rem;
    } 
    .boxInfo{
        gap: 1.5rem;
    }
    .boxInfo > p{
        font-size: 1.6rem !important;
    }
}
@media only screen and (max-width: 768px){
    .boxInfo > h2{
        margin-right: 5rem;
    } 
    .boxInfo{
        gap: 1rem;
    }
    .boxInfo > p{
        font-size: 1.4rem !important;
    }
}