.porductText{
    padding-top: 2rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.porductText > .text{
    width: 55%;
}
.discover{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
}
.discover > p{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3rem;
    text-decoration: underline;
}
.productCardes{
    margin-top: 6rem;
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}
.porductCard{
    width: 48%;
    border: 1px solid #685A5230;   
    display: flex;
    flex-direction: column;
}
.cardInfo{
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
}
.cardImg > img{
    width: 100%;
    height: 100%;
}
.cardInfoBottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 4.7rem;
}
.buttun{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.cardInfoBottom > span{
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.2rem;
    color: var(--h3-color);
}

/**** Media ***/

@media only screen and (max-width: 992px){
    .discover > p{
        font-size: 2.2rem;
        line-height: 2.5rem;
    }
    .productCardes{
        gap: 0rem;
    }
    .cardInfo{
        padding: 2.8rem;
    }
    .cardInfoBottom > span{
        font-size: 2.8rem;
        line-height: 3rem;
    }
    .buttun{
        gap: 3rem !important;
    }
}
@media only screen and (max-width: 768px){
    .discover{
        gap: 0.5rem;
    }
    .discover > p{
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .productCardes{
        gap: 0rem;
    }
    .cardInfo{
        padding: 2rem;
    }
    .cardInfoBottom > span{
        font-size: 2.5rem;
        line-height: 2rem;
    }
    .buttun{
        gap: 1.6rem !important;
    }
}
@media only screen and (max-width: 480px){
    .porductText{
       flex-direction: column;
       align-items: center;
       gap: 1rem;
    }
    .porductText > .text{
        width: 100%;
        text-align: center;
    }
    .discover{
        gap: 0.5rem;
        
    }
    .productCardes{
        flex-direction: column;
    }
    .porductCard{
        width: 100%;
    }
    .discover > p{
        font-size: 2rem;
    }
    .cardInfo{
        padding: 2.5rem;
    }
}